<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>QMPlusPlus</title>
    <link
    rel="icon"
    type="image/x-icon"
    href="./assets/qmplogomonotone.png"
    />
    <meta name="Making your workload easier" content="products" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./../styles/styles.css" />
    <link rel="stylesheet" href="./../styles/reset.css" />
    <link rel="stylesheet" href="./../styles/utils.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
  </head>

  <header>
    <nav>
      <ul>
          <li>
              <a href="./../index.html" style="max-width: fit-content;">
                  <img src="./../assets/qmplogotwotone.png" alt="QM++" id="logo">
              </a>
          </li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./courses.html">Courses</a></li>
      </ul>
  </nav>
</header>

  <body id="about-bg">
    <div class="container padding-sm">
      <div class="flex-container">
        <div>
          <h1 style="text-align: center; color: white; font-size: 65px;">About Us</h1>
          <img src="./../assets/qmplogomonotone.png" alt="qm++">
        </div>

        <div class="plan-box" style="width: 60%">
          <div class="explanation">
            Driven by our passion for social media and networking, we serve and
            help creators that show initiative.
          </div>
          <br />
          <div class="explanation">
            Our focus is on making life less stressful to maximize potential.
          </div>
          <br />
          <p class="explanation">
            The content on this site is not a supplement for the provided module
            content, hence why it is not directly to each topic in modules.
          </p>
        </div>
      </div>
    </div>

    <footer>
      <div class="grid-4">
        <div class="col">
          <h6>QMPlusPlus</h6>
          <ul>
            <li>About</li>
            <li>Contact Me</li>
            <li></li>
          </ul>
        </div>
      </div>

      <div class="container-center">QMPlusPlus © created by Jonathan Fajobi</div>
    </footer>
    <script src="./../scripts/script.js"></script>
  </body>
</html>
