<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>QMPlusPlus</title>
    <link
    rel="icon"
    type="image/x-icon"
    href="./../assets/qmplogomonotone.png"
    />
    <meta name="Making your workload easier" content="products" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./../styles/styles.css" />
    <link rel="stylesheet" href="./../styles/reset.css" />
    <link rel="stylesheet" href="./../styles/utils.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
  </head>

  <header>
    <nav>
      <ul>
          <li>
              <a href="./../index.html" style="max-width: fit-content;">
                  <img src="./../assets/qmplogotwotone.png" alt="QM++" id="logo">
              </a>
          </li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./courses.html">Courses</a></li>
      </ul>
  </nav>
</header>

  <body id="about-bg">
    <div class="container padding-sm">
      <div class="flex-container">
        <div>
          <h1 style="text-align: center; color: white; font-size: 65px;">About Us</h1>
          <img src="./../assets/qmplogomonotone.png" alt="qm++">
        </div>

        <div class="plan-box" style="width: 60%">
          <div class="box-heading">
            Ever had assignments due, with little guidance of what to do?
          </div>
          <div class="explanation">
            The focus of this site is on making life less stressful for students trying to learn,
            especially in the case that they do not have time to attend lectures. 
          </div>
          <p class="explanation">
            The content on this site <i>is not a supplement</i> for the provided module
            content, hence why it is not directly linked to each topic in modules.
          </p>
          <p class="explanation">
            Learning resources are created and shared in accordance to QM's academic integrity and code of misconduct. All content
            is derived from multiple freely accesible sources and should be fact checked with own knowledge. Do not plaigiarise, or rip content directly from
            this site - it acts as an assist/guide, not a mark scheme.
          </p>
        </div>
      </div>
    </div>

    <footer>
      <div class="grid-4">
        <div class="col">
          <h6>QMPlusPlus</h6>
          <ul>
            <li><a href="./about.html" style="color: slategray">About</a></li>
            <li><a href="./courses.html" style="color: slategray">Courses</a></li>
          </ul>
        </div>
      </div>

      <div class="container-center">QMPlusPlus © created by Jonathan Fajobi</div>
    </footer>
    <script src="./../scripts/script.js"></script>
  </body>
</html>
