<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>QMPlusPlus</title>
    <link
    rel="icon"
    type="image/x-icon"
    href="./../assets/qmplogomonotone.png"
    />
    <meta name="Making your workload easier" content="products" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./../styles/styles.css" />
    <link rel="stylesheet" href="./../styles/reset.css" />
    <link rel="stylesheet" href="./../styles/utils.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
  </head>
  <div >
  <body id="course-bg">

    <header>
      <nav>
          <ul>
              <li>
                  <a href="./../index.html" style="max-width: fit-content;">
                      <img src="./../assets/qmplogotwotone.png" alt="QM++" id="logo">
                  </a>
              </li>
              <li><a href="./about.html">About</a></li>
              <li><a href="./courses.html">Courses</a></li>
          </ul>
      </nav>
  </header>

    <div class="heading-text-ex center on-top padding-sm">Courses</div>
        <div class="flex-container" id="services" style="color: slategrey;">  
            <a href="./modules.html" style="color: black;">
            <div class="box-3 margin-md flex-container-col interactive" style="align-items: center; justify-content: baseline;">
                <div class="box-heading-2">
                    Creative Computing   
                </div>
            </div>
        </a>

            <div class="box-3 margin-md flex-container-col disabled" style="align-items: center; justify-content: baseline;">
                <div class="box-heading-2">
                    <a href="./lessons.html" style="color: black;">
                    Computer Science
                    </a>
                </div>
            </div>

            <div class="box-3 margin-md flex-container-col disabled" style="align-items: center; justify-content: baseline;">
                <div class="box-heading-2">
                    <a href="./lessons.html" style="color: black;">
                    Design Innovation and Creative Engineering
                    </a>
                </div>
            </div>

            <div class="box-3 margin-md flex-container-col disabled" style="align-items: center; justify-content: baseline;">
                <div class="box-heading-2">
                    <a href="./lessons.html" style="color: black;">
                    Computer Science with Business Management
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="./../scripts/script.js"></script>
  </body>
</div>
</html>
